<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<div class="container">
    <h1>
      {{ title }}
    </h1>
    <button (click)="onSubmit()">New Thought</button>
  <div class="thoughtList">
  <post (removePost)="onDelete($event)" *ngFor="let singlePost of postsList"
  [post]="singlePost"
  [postIndex]="postsList.indexOf(singlePost)"></post>
</div>
</div>

<postForm (add)="onAdd($event)" [hidden]="openForm==false"></postForm>
