div {
    color: gray;
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid gray;
    
}
/* div:hover {
    -ms-transform: scale(1.3); /* IE 9 */
    /* -webkit-transform: scale(1.3); Safari 3-8 */
    /* transform: scale(1.3);
    background-color: gray;
    color: white;
    border-radius: 5px;
} */

p {
    font-family: 'Roboto', sans-serif;
}

span {
    float: right;
    font-weight: bold;
    cursor: pointer;
}

.title {
    font-size: 20px;
    font-weight: bold;
}