.container {
    border-radius: 5px;
    background-color: rgb(139, 198, 218);
    width: 400px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 25px 25px 25px 25px;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    padding: 10px 5px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
    color: gray;
    font-weight: bold;
}

label {
    font-family: 'Roboto', sans-serif;
    color: rgb(7, 122, 160);
    font-weight: bold;
}

textarea:focus {
    height: 200px;
}